
DATABASE_URL="postgres://UN:PW@localhost:5434/DB_NAME"
JWT_SECRET=hello12345xyz
OTP_SECRET=abcdxyz1234998
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USER=YOUR_GMAIL
EMAIL_PASS=GMAIL_APP_PASSCODE
JWT_EXPIRY_TIME=60m